* {
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 80%;
    margin-top: 10%;
}

.container{
    margin: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .btn-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .btn-flex .btn {
 background-color: navy;
 color: white;    
}