*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 250px;
}

.startQuiz {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.startQuiz h2 {
    padding: 10px;
    color: navy;
    text-align: left;
}
.startQuiz .btn {
    color:white;
    background-color: navy;
    justify-content: center;
    margin-top:10px;
    padding: 10px;
    font-size: 18px;
    width: 50%;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 0.4s;
}
.startQuiz  .btn:active{
    transform: translateY(10px);
}

.hide {
    display: none;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px; 
}

#question-container{
    padding: 10px;
    color: navy;
    text-align: left;
    font-size: 25px;
}

.btn-grid .btn{
    color:white;
    background-color: navy;
    justify-content: center;
    margin-top:10px;
    padding: 10px;
    font-size: 18px;
    width: 50%;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 0.4s;

}

.btn-grid  .btn:active{
    transform: translateY(10px);
}